.search {
    background: #202020;
}

.search__container {
    max-width: 1140px;
    padding: 0;
    margin: 75px 70px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ababab33;
}

.search__form {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 84px;
}

.search__search-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
    width: 81.5%;
}

.search__input {
    margin: 0;
    margin-left: 22px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 18px;
    color: #8B8B8B;
    outline: none;
    background: none;
    background-repeat: no-repeat;
    border: none;
    width: 90%;
}

.search__filter-container {
    display: flex;
    align-items: center;
}

.search__label {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.search__btn {
    width: 34px;
    height: 34px;

    margin: 6px;
    padding: 0;

    background-image: url(../../images/find.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #4285F4;
    border: none;
    border-radius: 48px;

    cursor: pointer, sans-serif;

    transition: opacity 0.5s ease;
}

.search__btn:hover {
    opacity: 0.7;
}

.search__switch-container {
    margin: 0 0 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__switch {
    width: 36px;
    height: 20px;

    margin: 0;
    padding: 0;

    background: none;
    background-repeat: no-repeat;
}

.search__switch {
    position: relative;
    display: block;
    width: 36px;
    height: 20px;

    cursor: pointer, sans-serif;
}

.search__switch input {
    display: none;
}

.search__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #343434;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.search__slider:after {
    position: absolute;
    content: "";
    border: 1px solid #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease;
}

input:checked+.search__slider:after {
    transform: translateX(16px);
    background: #2BE080;
    border: 1px solid #fff;
    width: 14px;
    height: 14px;
}

.search__label {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 138.462% */
    margin: 0;
}

@media (max-width: 936px) {
    .search__form {
        flex-direction: column;
        padding-bottom: 0;
    }

    .search__container {
        margin: 56px 30px 0px;
    }

    .search__input {
        margin-left: 14px;
    }

    .search__filter-container {
        padding-bottom: 55px;

    }

    .search__search-line {
        width: 100%;
        margin-bottom: 27px;
    }
}

@media (max-width: 470px) {
    .search__container {
        margin: 56px 10px 0px;
    }

    .search__input {
        width: 76%;
    }

    .search__label {
        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 163.636% */
    }

    .search__search-line {
        margin-bottom: 34px;
    }

    .search__filter-container {
        padding-bottom: 42px;
    }
}