.header {
    margin: 0;
    /* padding: 0 70px; */
    display: flex;
    justify-content: space-between;
    background-color: rgba(32, 32, 32, 1);
    box-sizing: border-box;
    min-height: 74px;
    align-items: center;
}

.header_color_blue {
    background-color: rgba(7, 48, 66, 1);
}

.header__container {
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    box-sizing: border-box;
}

.header__registration-link {
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.header__login-btn {
    width: 76px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #3DDC84;
    color: #000;
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.header__logo {}

.header__login {
    gap: 30px;
    display: flex;
    align-items: center;
}

@media (max-width: 1075px) {
    .header__container {
        padding: 18px 30px;
    }
}

@media (max-width: 470px) {
    .header__container {
        padding: 18px 14px;
    }

    .header__login-btn {
        width: 54px;
        height: 26px;
    }

    .header__login {
        gap: 14px;
    }

    .header__login-btn {
        color: #000;
        font-family: Inter, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        /* 160% */
    }

    .header__registration-link {
        color: #FFF;
        text-align: right;
        font-family: Inter, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        /* 160% */
    }
}