.student {
    background: #202020;
    padding: 110px 70px 100px;
}

.student__container {
    display: flex;
    padding-top: 66px;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 49px;
}

.student__resume {
    max-width: 600px;
}

.student__title {
    color: #FFF;
    font-size: 22px;
    font-family: Inter, sans-serif;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #DADADA;
    font-weight: 400;
    margin: 0;
    padding-bottom: 23px;
}

.student__name {
    color: #FFF;
    font-size: 50px;
    font-family: Inter, sans-serif;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0;
    font-weight: 400;
}

.student__profession {
    color: #FFF;
    font-size: 18px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding-top: 18px;
}

.student__about-me {
    color: #FFF;
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 22px;
    margin: 0;
    padding-top: 26px;
    padding-bottom: 97px;
}

.student__photo {
    max-width: 270px;
    max-height: 327px;
    border-radius: 10px;
    object-fit: cover;
}

.student__link {
    color: #FFF;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 786px) {
    .student {
        padding: 90px 50px;
    }

    .student__container {
        gap: 0;
    }

    .student__photo {
        max-width: 255px;
        max-height: 307px;
    }

    .student__name {
        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 100% */
        letter-spacing: -1.6px;
    }

    .student__profession {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 150% */
        padding-top: 16px;
    }

    .student__about-me {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 150% */
        padding-top: 20px;
        margin-right: 49px;
        padding-bottom: 87px;
    }
}

@media (max-width: 590px) {
    .student__container {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 60px;
    }

    .student {
        padding: 70px 14px 0;
    }

    .student__photo {
        max-width: 292px;
        max-height: 352px;
    }

    .student__title {
        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
    }

    .student__name {
        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -1.2px;
        padding-top: 40px;
    }

    .student__profession {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        /* 145.455% */
        padding-top: 20px;
    }

    .student__about-me {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 145.455% */
        margin: 0;
        padding-bottom: 39px;
    }
}